@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer utilities {
    @import './assets/styles/base/Global.css';
    @import './assets/styles/base/Varibales.css';
    @import './assets/styles/Pages/auth.css';
    @import './assets/styles/Pages/HomePage.css';
    @import './assets/styles/Components/Models/CreateProject.css';
    @import './assets/styles/Components/Card.css';
}